@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
    animation: shake 0.2s linear 2 alternate;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
      transform: rotate(0deg);
    }
    25% {
      transform: translateX(-5px);
      transform: rotate(-1deg);
    }
    50% {
      transform: translateX(0);
      transform: rotate(0deg);
    }
    75% {
      transform: translateX(5px);
      transform: rotate(1deg);
    }
    100% {
      transform: translateX(0);
      transform: rotate(0deg);
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #b4b4b4;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 1px solid #ddd;
  }